<h2>Create your artist here!</h2>
<form method="POST" action="/artist">
	<label for="artistname">Artist name: </label>
	<input type="text" id="artistname" name="artist[name]">
	<label for="artistage">Artist age: </label>
	<input type="number" id="artistname" name="artist[age]">
	<label for="artistbio">Artist bio: </label>
	<input type="text" id="artistbio" name="artist[bio]">
	<input type="Submit" value="create artist">	
</form>